<app-header></app-header>
<div class="row align-items-center h-75 vh-100">
    <div class="col-lg-6 px-lg-4 ">
    <div class="card">
      <div class="card-body p-lg-5">
        <h3 class="mb-4">Add Venue for customers</h3>
        <form [formGroup]="venueForm">

            <div class="form-check mb-3">
                <input class="form-check-input" formControlName="hall" type="checkbox" name="agree">
                <label class="form-check-label"  for="agree">Hall</label>
            </div>

            <div class="form-check mb-3">
                <input class="form-check-input" formControlName="auditorium" type="checkbox" name="agree">
                <label class="form-check-label"  for="agree">Auditorium</label>
            </div>

            <div class="form-check mb-3">
                <input class="form-check-input" formControlName="hotel" type="checkbox" name="agree">
                <label class="form-check-label"  for="agree">Hotel</label>
            </div>

            <div class="form-check mb-3">
                <input class="form-check-input" formControlName="restaurants" type="checkbox" name="agree">
                <label class="form-check-label"  for="agree">Restaurants</label>
            </div>

          <div class="form-group">
            <button class="btn btn-primary block" id="regidter" type="button" name="registerSubmit">Add Venue</button>
          </div>

        </form>
      </div>
    </div>
  </div>

</div>