<app-header></app-header>
<div class="container">
  <div class="row my-5 py-5">
    <div class="col-lg-6 px-lg-4">
      <div class="card">
        <div class="card-body p-lg-5">
          <h3 class="mb-4">Add Venue for customers</h3>
          <form [formGroup]="venueForm">
            <div class="form-check mb-3">
              <input
                class="form-check-input"
                formControlName="hall"
                type="checkbox"
                name="agree"
                [(ngModel)]="isHall"
              />
              <label class="form-check-label" for="agree">Hall</label>
            </div>

            <div class="form-check mb-3">
              <input
                class="form-check-input"
                formControlName="auditorium"
                type="checkbox"
                name="agree"
                [(ngModel)]="isAuditorium"
              />
              <label class="form-check-label" for="agree">Auditorium</label>
            </div>

            <div class="form-check mb-3">
              <input
                class="form-check-input"
                formControlName="hotel"
                type="checkbox"
                name="agree"
                [(ngModel)]="isHotel"
              />
              <label class="form-check-label" for="agree">Hotel</label>
            </div>

            <div class="form-check mb-3">
              <input
                class="form-check-input"
                formControlName="restaurants"
                type="checkbox"
                name="agree"
                [(ngModel)]="isRes"
              />
              <label class="form-check-label" for="agree">Restaurants</label>
            </div>

            <div class="form-group">
              <button
                class="btn btn-primary block"
                id="regidter"
                type="button"
                name="registerSubmit"
                (click)="addVanue()"
              >
                Add Venue
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-6" >
      <div *ngIf="isHall">
        <h4>Hall</h4>
      <div class="accordian">
        <ul>
        <li>
          <div class="image_title">
          </div> 
          <a href="#">
            <img src="https://media.istockphoto.com/photos/empty-modern-hospital-corridor-picture-id1294129593?b=1&k=20&m=1294129593&s=170667a&w=0&h=ec9llv8HzmWqJQNyzNXyU7JqWgVzTctlEVOX8MQsV94=" width="100%"/>
          </a>
        </li>
        <li>
          <div class="image_title">
          </div>
          <a href="#">
            <img src="https://media.weddingz.in/images/60e50efdb10fc3b9c3aadd282ac9f21a/parish-hall-elgin-kolkata-1.jpg" width="100%"/>
          </a>
        </li>
        <li>
          <div class="image_title">
          </div>
          <a href="#">
            <img src="https://thumbs.dreamstime.com/b/conference-hall-7641763.jpg" width="100%"/>
          </a>
        </li>
        <li>
          <div class="image_title">
          </div>
          <a href="#">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1QYT6dOyRnNQzcpo6N1BQx86lFVXxHbcTnA&usqp=CAU" width="100%"/>
          </a>
        </li>
      </ul>
    </div>
      </div>
    <div *ngIf="isAuditorium">
      <h4>Auditorium</h4>
      <div class="accordian">
        <ul>
        <li>
          <div class="image_title">
          </div> 
          <a href="#">
            <img src="https://media.istockphoto.com/photos/empty-auditorium-with-grey-seats-and-downlights-picture-id157334256?b=1&k=20&m=157334256&s=170667a&w=0&h=grbJFagaDkFEarkXZyp1-ceM67MnATAvurLyPFzrVjE="/>
          </a>
        </li>
        <li>
          <div class="image_title">
          </div>
          <a href="#">
            <img src="https://media.istockphoto.com/photos/empty-red-armchairs-of-a-theater-ready-for-a-show-picture-id1295114854?b=1&k=20&m=1295114854&s=170667a&w=0&h=W9ZbN674554Jsamxo5AfoO3DrSm_7qYS1EnANgusi9o="/>
          </a>
        </li>
        <li>
          <div class="image_title">
          </div>
          <a href="#">
            <img src="https://media.gettyimages.com/photos/conference-hall-picture-id1275764966?s=612x612"/>
          </a>
        </li>
        <li>
          <div class="image_title">
          </div>
          <a href="#">
            <img src="https://cdn.pixabay.com/photo/2013/04/17/00/29/moscow-105154__340.jpg"/>
          </a>
        </li>
      </ul>
    </div>
    </div>
    <div *ngIf="isHotel">
      <h4>Hotel</h4>
      <div class="accordian">
        <ul>
        <li>
          <div class="image_title">
          </div> 
          <a href="#">
            <img src="https://cdn.britannica.com/96/115096-050-5AFDAF5D/Bellagio-Hotel-Casino-Las-Vegas.jpg"/>
          </a>
        </li>
        <li>
          <div class="image_title">
          </div>
          <a href="#">
            <img src="https://www.gannett-cdn.com/-mm-/05b227ad5b8ad4e9dcb53af4f31d7fbdb7fa901b/c=0-64-2119-1259/local/-/media/USATODAY/USATODAY/2014/08/13/1407953244000-177513283.jpg"/>
          </a>
        </li>
        <li>
          <div class="image_title">
          </div>
          <a href="#">
            <img src="https://www.swissotel.com/assets/0/92/3686/3768/3770/6442451433/ae87da19-9f23-450a-8927-6f4c700aa104.jpg"/>
          </a>
        </li>
      </ul>
    </div>
    <div *ngIf="isRes">
      <h4>Restaurants</h4>
      <div class="accordian">
        <ul>
        <li>
          <div class="image_title">
          </div> 
          <a href="#">
            <img src="https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cmVzdGF1cmFudHN8ZW58MHx8MHx8&w=1000&q=80"/>
          </a>
        </li>
        <li>
          <div class="image_title">
          </div>
          <a href="#">
            <img src="https://media.istockphoto.com/photos/modern-restaurant-interior-design-picture-id1211547141?k=20&m=1211547141&s=612x612&w=0&h=KiZX3NBZVCK4MlSh4BJ8hZNSJcTIMbNSSV2yusw2NmM="/>
          </a>
        </li>
        <li>
          <div class="image_title">
          </div>
          <a href="#">
            <img src="https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/e/d/p29410-15743151555dd62493bdda1.jpg?tr=tr:n-xlarge"/>
          </a>
        </li>
      </ul>
    </div>
    </div>
    </div>
  </div>
</div>
