<app-header></app-header>
<div class="container" *ngIf="isUser">
    <div class="row align-items-center h-75 vh-100">
        <div class="col-12 mx-auto">
            <div class="card shadow border">
              <h4 class="align-items-center m-3">Available venue</h4>
                <div class="card-body d-flex flex-column align-items-center">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Dealer Name</th>
                            <th scope="col">Hall</th>
                            <th scope="col">Auditorium</th>
                            <th scope="col">Hotel</th>
                            <th scope="col">Restaurants</th>
                            <th scope="col">Book now</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let venue of venues">
                            <td>{{venue.id}}</td>
                            <td><input type="checkbox" *ngIf="venue.hall" checked disabled></td>
                            <td><input type="checkbox" *ngIf="venue.auditorium" checked disabled></td>
                            <td><input type="checkbox" *ngIf="venue.hotel" checked disabled></td>
                            <td><input type="checkbox" *ngIf="venue.restaurants" checked disabled></td>
                            <td><button class="btn btn-primary" (click)="book(venue)">Book now</button></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
